<appSettings>
  <add key="FacebookAppId" value="174729731533913"/>
  <add key="FacebookAppSecret" value="abcde"/>
  <add key="GoogleClientId" value="861773329775-94m5g4m4gkl0eog1pejg20s3frk5pts5.apps.googleusercontent.com"/>
  <add key="GoogleClientSecret" value="abcde"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <!--Fake mail server for academic purposes-->
</appSettings>

<!--BY DEFAULT, IIS DOES NOT SERVE UP CONFIG FILES. So this is how we can store the secrets, refer to them in referenced code, and not have to 
worry about them being exposed in a public repository.-->